.main {
  background-color: var(--theme-color-neutral-9);
  color: var(--theme-color-primary-5);
  padding: 3em;
  display: grid;
  place-items: center;
}

.main > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}

.main > div > h1 {
  font-size: 3rem;
  max-width: 15em;
  margin: 0 0 1em 0;
  text-align: center;
  font-weight: bolder;
}

.main > div > header {
  font-size: 4rem;
  color: #0a0;
}
