#other-dimension-box-edit-form {
  .ant-select-selector {
    background-color: #e6f7ff;
    border: none;
    border-radius: 0;
    .ant-select-selection-item {
      font-weight: bold;
      color: #0050b3;
    }
  }

  .ant-select-arrow {
    color: #1890ff;
  }
}
