.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.main > header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.main > header > div {
  color: var(--theme-color-error);
}

.main > header > label {
  font-weight: 100;
  text-transform: uppercase;
  color: var(--theme-color-neutral-5);
}

.main > input {
  box-sizing: border-box;
  background: none;
  color: var(--theme-color-primary-5);
  font-size: 120%;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--theme-color-neutral-7);
  line-height: 2;
  padding: 0;
  outline: none;
}

.main > input:focus {
  border: 2px solid var(--theme-color-primary-5);
  padding: 0 0.25em;
}

.main > input:invalid {
  text-decoration-style: solid;
  text-decoration-color: #f30;
  text-decoration-thickness: 0.125em;
  text-decoration-line: underline;
}
