.contentTabs {
  :global .ant-tabs-nav {
    margin: 0;

    &:before {
      border: none;
    }

    :global .ant-tabs-nav-list {
      display: flex;
      // TODO: This causes resizing error at low width screen (the tabs get resized back and forth)
      //flex-basis: 100%;
    }

    :global .ant-tabs-tab {
      @apply text-neutral-5;

      border: none !important;
      border-radius: 0 !important;
      display: inline-flex;
      flex-grow: 1;
      flex-basis: 100%;
      font-weight: 700;
    }

    :global .ant-tabs-tab-btn {
      flex-grow: 1;
    }

    :global .ant-tabs-tab-active {
      :global .dropdown-menu-icon {
        visibility: visible;
      }
    }
  }
}
