.container {
  th:global(.ant-table-cell) {
    background-color: white !important;

    &::before {
      background-color: white !important;
    }
  }
  td:global(.ant-table-cell) {
    @apply cursor-pointer;
  }
}
.pagination {
  @apply flex justify-end pr-10 mt-10;
}
