.main {
  padding: 3rem;
  background: var(--theme-color-neutral-9);
  color: var(--theme-color-primary-5);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.main h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 1em;
}

.main > footer {
  margin-top: 2em;
}
