.main {
  margin: 1em 0;
  border: 1px solid var(--theme-color-primary-5);
  padding: 1em;
}

.main.selected {
  background-color: var(--theme-color-primary-5);
  color: var(--theme-color-neutral-9);
}

.main.selected footer {
  display: none;
}

.main h1 {
  font-size: 1.6rem;
  font-weight: bold;
}

.main fieldset > ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0 2em;
  padding: 0 0 0 1em;
}

.main fieldset > legend {
  color: var(--theme-color-primary-7);
  font-size: 90%;
  font-weight: bold;
}

.main fieldset > ul > li {
  flex: 1 1;
  min-width: 240px;
  max-width: 380px;
}

.main fieldset > ul > li::marker {
  content: '• ';
  font-size: 1.2em;
}

.price {
  border-top: 1px solid var(--theme-color-primary-7);
  border-bottom: 1px solid var(--theme-color-primary-7);
  padding: 0.5em;
  margin: 1em 0;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 1em;
}

.price small {
  font-size: 1rem;
}

.price div {
  font-size: 2rem;
  font-weight: bolder;
}
