.main {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 32px;
  width: 100%;
  pointer-events: none;
  color: var(--custom-color-text);
}

.main > canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: color-mix(in srgb, var(--custom-color-back), transparent 25%);
}
