.customTabs {
  display: flex;
  list-style-type: none;
  padding: 0;
  position: relative;
  top: 10rem;
  left: 2rem;
  li {
    margin-right: 10px;
    z-index: 1000;
  }
}
// its haccky but this is handle the extra height created by the tab links which create 'extra' unwanted height in the container
.listingContainer {
  margin-top: -2rem;
}
