.header {
  display: flex;
  gap: 1em;
  @apply mb-10 capitalize text-primary-8;
}

.activeStep {
  @apply font-bold;
}

.inactiveStep {
  @apply font-thin;
}

.separator {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin: auto 0.5rem;
  border-radius: 50%;
  @apply bg-neutral-2;
}
