.settings {
  --top: 3.5rem;
  --header-height: 3rem;
  position: absolute;
  right: 0;
  top: var(--top);
  width: 360px;
  height: 820px;
  max-height: calc(95% - var(--top));
  transition: transform 0.2s;
  background-color: #fffd;
  backdrop-filter: blur(4px);
  margin: 0;
  color: #038e;
  border-radius: 1em 0 0 1em;
  box-sizing: border-box;
  /* Just above the "Feedback" button. */
  z-index: 101;
}

.show {
  transform: translateX(0);
}

.hide {
  transform: translateX(100%);
}

.settings > main {
  position: absolute;
  left: 0;
  top: var(--header-height);
  right: 0;
  bottom: 0;
  padding: 1em;
  overflow: auto;
}

.opacity {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5em;
}

.opacity > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.opacity > label > div:last-child {
  opacity: 0.5;
}

.settings main hr {
  border: none;
  height: 1px;
  background-image: linear-gradient(to left, transparent, currentColor, transparent);
  margin: 1em 0;
  opacity: 0.25;
}

.settings main ul {
  padding: 0 0 0 1.5em;
}

.settings main li {
  list-style: disc;
}

.center {
  margin: 1em;
  display: grid;
  place-items: center;
}

.threeColumns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  margin: 1em 0;
}

.closeButton {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.closeButton > svg {
  max-height: 2em;
}

.shiftIcon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5em;
}

.shiftIcon > svg {
  width: 3em;
  height: 2em;
}

.shiftIcon > p {
  flex: 1 1 auto;
}
