.input,
.input:focus {
  background: none;
  border: none;
  border-bottom: 1px solid #003a8c77;
  border-radius: 0;
  padding-left: 0;
}

.textArea,
.textArea:focus {
  background: none;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  border-radius: 0;
  padding-left: 0;
}
