.loginButton {
  color: #69c0ff;
  display: grid;
  place-items: center;
  border: 2px solid currentColor;
  width: 10em;
  height: 3em;
  margin: 0.5em 0;
  background: none;
  cursor: pointer;
}

.logoutButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin: 0.5em 0;
}

.logoutButton > div {
  flex: 1 1 auto;
  font-weight: bolder;
}

.logoutButton > img {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
}
