.container {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 3rem calc(100vh - 3rem);
  grid-template-areas:
    'brain-selector tabs'
    'brain-selector content-container';
}

.brainSelectorContainer {
  grid-area: brain-selector;
}
.tabsContainer {
  grid-area: tabs;
}

.contentContainer {
  grid-area: content-container;
  position: relative;
}

.bgThemeLight {
  @apply bg-neutral-1;
}

.bgThemeDark {
  background-color: black;
}
