.container {
  display: grid;
  grid-template-columns: min-content min-content auto;
  grid-template-rows: 3rem calc(100vh - 3rem);
  grid-template-areas:
    'brain-config-selector brain-region-selector top-tabs'
    'brain-config-selector brain-region-selector content-container';
}

.brainConfigSelectorContainer {
  grid-area: brain-config-selector;
}

.brainSelectorContainer {
  grid-area: brain-region-selector;
}

.tabsContainer {
  grid-area: top-tabs;
}

.contentContainer {
  grid-area: content-container;
  position: relative;
}
