.container {
  position: relative;
  color: white;
  background-color: black;
  height: 100%;
  display: grid;
  grid-template-columns: 300px auto 300px;
  grid-template-rows: 65px auto 65px;
  grid-gap: 20px;
  grid-auto-flow: row;
  grid-template-areas:
    'granularity-tabs modes view-tabs'
    'left-panel matrix-container right-panel'
    '. footer .';
}

.granularityTabs {
  grid-area: granularity-tabs;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.modes {
  grid-area: modes;
  display: flex;
  padding: 10px;
  grid-gap: 10px;
}

.viewTabs {
  grid-area: view-tabs;
}

.matrixContainer {
  grid-area: matrix-container;
  position: relative;
}

.rightPanel {
  grid-area: right-panel;
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
}

.leftPanel {
  grid-area: left-panel;
  padding: 10px 20px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  grid-area: footer;
}

.sidePanel {
  position: absolute;
  right: 0;
  height: 90%;
  top: 5%;
  background: white;
  width: 33%;
  z-index: 2;
  border-radius: 8px 0px 0px 8px;
  padding: 20px;
  color: black;
}
