#simulation-job-status-table th {
  background: transparent;
  font-weight: 300;
  font-size: 10px;
  color: #8c8c8c;
}

#simulation-job-status-table th:before {
  display: none;
}

.job-status-filters label span {
  color: #0050b3;
}

.job-status-filters .ant-checkbox-inner {
  background-color: #0050b3;
  border-color: #0050b3;
}
