/*
  This is used instead of Tailwind's preflight to prevent
  overriding Antd button background colors.

  https://github.com/tailwindlabs/tailwindcss/issues/6602
*/
@import './tailwind-preflight.css';

@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

// Antd overrides
th.ant-table-cell {
  background-color: white !important;
  border: none !important;

  &::before {
    background-color: white !important;
  }
}

td.ant-table-cell {
  border: none !important;
}
