@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

html {
  font-size: 14px;
  line-height: 1.45;
}

h1 {
  font-size: 38px;
  line-height: 1.1;
}

h2 {
  font-size: 30px;
  line-height: 1.1;
}

h3 {
  font-size: 24px;
  line-height: 1.1;
}

h4 {
  font-size: 20px;
  line-height: 1.1;
}

h5 {
  font-size: 16px;
  line-height: 1.25;
}

.accordion-chevron {
  @apply transition-transform;
}

.accordion-trigger[data-state='open'] > .accordion-chevron {
  @apply rotate-180;
}

.accordion-trigger[data-state='open'] {
  @apply text-white;
  @apply font-bold;
}

.accordion-trigger[data-state='open'] > .accordion-chevron path {
  @apply fill-white;
}

.accordion-header[data-state='open'] > .accordion-arrow path {
  @apply fill-white;
}

.accordion-header.is-active {
  @apply font-bold;
  @apply text-white;
}

.accordion-header.is-active > .accordion-arrow path {
  @apply fill-white;
}
