.Spinner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}

.Spinner > svg {
  width: 5em;
  height: 5em;
  animation: rotation-animation linear 1.5s infinite;
  stroke: currentColor;
  fill: currentColor;
}

@keyframes rotation-animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
