.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;
  --custom-width: 2em;
  --custom-height: 1em;
  --custom-padding: 0.2em;
  --custom-switch-color-back: #fff;
  --custom-switch-color-front: #003a8c;
  cursor: pointer;
}

.main > label {
  flex: 1 1 auto;
  cursor: pointer;
}

.main > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

.main > div > * {
  flex: 0 0 auto;
  cursor: pointer;
}

.main > div > label {
  opacity: 0.7;
  font-size: 80%;
  filter: grayscale(100%);
}

.SwitchRoot {
  border: 1px solid currentColor;
  border: 1px solid color-mix(in srgb, currentColor, transparent 50%);
  flex: 0 0 auto;
  box-sizing: border-box;
  width: var(--custom-width);
  height: var(--custom-height);
  border-radius: 9999px;
  position: relative;
  padding: 0;
  --size: calc(var(--custom-height) - 2 * var(--custom-padding));
  background-color: var(--custom-switch-color-back);
  filter: grayscale(100%);
}

.SwitchRoot[data-state='checked'] {
  background-color: var(--custom-switch-color-front);
  filter: grayscale(0);
}

.SwitchThumb {
  display: block;
  width: var(--size);
  height: var(--size);
  border-radius: 9999px;
  transition: transform 0.2s;
  transform: translateX(var(--custom-padding));
  will-change: transform;
  margin: 0;
  background-color: var(--custom-switch-color-front);
}

.SwitchThumb[data-state='checked'] {
  transform: translateX(calc(var(--custom-width) - var(--custom-padding) - var(--size)));
  background-color: var(--custom-switch-color-back);
}
