.rulesFilters {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  gap: 0.5em;
  margin: 0.5em 0;
}

.filterItems {
  grid-column: 1/3;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

.rulesFilters > button {
  all: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  font: 150%;
  cursor: pointer;
}

.rulesFilters > button > * {
  flex: 0 0 auto;
}
