.main {
  position: absolute;
  left: 400px;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
  color: var(--custom-color-accent);
  background-color: color-mix(in srgb, var(--custom-color-back), transparent 25%);
  border-radius: 0 0 0.5em 0.5em;
}

.main > svg {
  width: 1.5em;
  height: 1.5em;
  animation: rotation-animation linear 3s infinite;
  stroke: currentColor;
  fill: currentColor;
}

@keyframes rotation-animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
