.container {
  display: grid;
  grid-template-columns: min(600px) auto auto;
  grid-template-rows: 42px calc(100vh - 42px);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'brain-selector tabs tabs'
    'brain-selector image-container image-container';
}

.brainSelectorContainer {
  grid-area: brain-selector;
}
.tabsContainer {
  grid-area: tabs;
}
.imageContainer {
  grid-area: image-container;
  position: relative;
}
