.main {
  display: grid;
  grid-template-columns: 3em 12em 20em 6em auto;
  place-items: center stretch;
  gap: 1em;
  margin: 0.25em 0;
}

.name,
.role {
  font-weight: bold;
}

.email {
  color: var(--theme-color-neutral-5);
}
