.main {
  padding: 1em;
}

.main h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

.main section > * {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  place-items: stretch;
  gap: 1em 1em;
}

.main section > * > *:nth-child(3) {
  grid-column: 1/3;
}
