.home {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.home > *:first-child {
  grid-row: 1/3;
}

.home > *:last-child {
  grid-column: 2/4;
}
