.main {
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  gap: 0.5em;
}

.main > *:first-child {
  grid-column: 2;
}

.main > div {
  grid-column: 2/4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.main > hr {
  grid-column: 1/5;
  border: none;
  background-color: none;
  height: 2em;
}
