// Side bar menu styles
.side,
.expanded {
  @apply transition-transform ease-in-out bg-primary-9 text-light;
  a {
    @apply transition-transform ease-in-out font-bold block w-max;
  }
  button {
    @apply mt-4 bg-transparent border-none text-white;
  }
}
.side {
  @apply w-10;
  > div {
    display: inline-flex;
    flex-direction: column;
    a {
      @apply relative -left-[32px] top-20 -rotate-90;
    }
    button {
      @apply ml-[2px] flex justify-center;
    }
  }

  .hiddenWhenCollapse {
    @apply h-3;
  }
}

.fixednav {
  @apply absolute bottom-0 left-2;
  li {
    @apply transition;
    a {
      @apply font-normal;
    }
  }
  li:nth-child(-n + 2) {
    @apply relative right-16 w-max mt-0;
    a {
      @apply inline-flex;
      h2 {
        @apply mr-5 w-12;
      }
    }
  }
  li:nth-last-child(-n + 2) {
    @apply relative right-96;
  }
}
// Expanded Sidebar styles
.expanded {
  @apply px-3 w-96;
  > div {
    @apply flex flex-row-reverse w-72;
  }
  div {
    > a {
      @apply text-2xl relative -left-[68px] self-end rotate-1;
    }
  }

  .fixednav {
    @apply mb-0 mx-auto w-72;
    li:nth-last-child(-n + 2) {
      @apply bg-primary-7 mt-2;
    }
    li {
      transition-property: padding, margin, position, bottom, right;
      transition-timing-function: ease-in-out;
      @apply w-72 p-2 relative bottom-10 right-0;

      a {
        h2 {
          @apply text-left col-start-1 col-end-5;
        }
        span {
          @apply col-span-1 col-end-7 justify-end;
        }
        @apply w-full grid gap-0 grid-cols-6;
      }
    }
  }

  .obsnav {
    @apply mt-10;
    li {
      @apply mt-10 w-72 mx-auto;
    }
    a {
      @apply mx-auto w-72 gap-0 grid grid-cols-12;
    }
    h1 {
      @apply col-start-1 col-end-10 text-xl font-bold;
    }
    span {
      @apply col-span-1 col-end-13 justify-end;
    }
    p {
      @apply pt-1 col-span-12 font-thin text-sm text-primary-4;
    }
    @media (min-height: 400px) and (max-height: 640px) {
      @apply mt-1;
      li {
        @apply mt-1;
      }
      p {
        @apply pt-0;
      }
    }
    @media (min-height: 0px) and (max-height: 500px) {
      @apply mt-1;
      li {
        @apply mt-1;
      }
      p {
        @apply hidden;
      }
    }
  }
}
