.main {
  content: '';
  width: 4em;
  height: 0.5em;
  border-radius: 999vmax;
  overflow: hidden;
  background-color: var(--theme-color-neutral-5);
  margin: 0;
  padding: 0;
  opacity: 0.5;
}

.selected {
  background-color: var(--theme-color-primary-5);
  opacity: 1;
}
