.feedbackButton {
  position: fixed;
  right: 0;
  top: 50%;
  background-color: #f4364c;
  border: none;
  color: white;
  transform: translateX(32%) translateY(-50%) rotate(-90deg);
  font-size: 18px;
  height: fit-content;
  z-index: 100;
  padding: 4px 15px;
  border-radius: 6px;
}

.feedbackModal {
  position: fixed !important;
  right: 0;
  top: calc(50% - 150px) !important;
  height: 200px;
  z-index: 100;
}

.feedbackTextarea {
  margin-top: 10px;
  min-height: 150px !important;
}
