.main {
  all: inherit;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 0;
  margin: 0;
  transition: all 0.3s;
  pointer-events: none;
}

.main > div {
  font-size: 1.5rem;
  padding: 0.5em 1em;
  border-radius: 999vmax;
  background-color: #fffa;
  color: #000;
  border: 0.125em solid currentColor;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}
