.morpho-legend {
  position: absolute;
  @apply bottom-6;
  @apply left-6;
  border-radius: 5px;
  backdrop-filter: blur(1px);
}

.morpho-legend > ul {
  list-style: none;
  padding: none;
}

.morpho-legend > ul li::before {
  content: '\2022';
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  line-height: 0;
  font-size: 1.5em;
}

.morpho-legend > ul li.axon::before {
  color: var(--axon);
}
.morpho-legend > ul li.basal-dendrites::before {
  color: var(--basal-dendrites);
}
.morpho-legend > ul li.apical-dendrites::before {
  color: var(--apical-dendrites);
}
.morpho-legend > ul li.soma::before {
  color: var(--soma);
}
