.morpho-viewer,
.morpho-viewer canvas {
  width: 100%;
  min-width: 200px;
  height: 100%;
  min-height: 400px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.orientation {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 50px;
  z-index: 2;
}

.scale {
  position: absolute;
  height: 100%;
  width: 50px;
  cursor: pointer;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(2px);
  z-index: 2;
}
