.braynsSimulationViewer {
  position: relative;
  padding: 0;
}

.braynsSimulationViewer > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.braynsSimulationViewer > canvas {
  background-image: url(./background.jpg);
  background-repeat: repeat;
}

.progress {
  padding: 1em;
  display: grid;
  place-items: center;
  line-height: 2;
  background: #000a;
  color: #fff;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  gap: 1em;
}

.progress > div {
  padding: 1em;
}

.error {
  padding: 1em;
  display: grid;
  place-items: center;
  background: #d20e;
  color: #fff;
  overflow: auto;
  white-space: pre-wrap;
}

.error center {
  padding: 1em;
}
