.distributionSlidersPanel {
  display: flex;
  flex-flow: row;

  > div {
    display: flex;
    flex-basis: 100%;

    &:nth-child(n + 2) {
      margin-left: 2rem;
    }
  }
}

.verticalSlidersPanel {
  flex-grow: 44;
}

.horizontalSlidersPanel {
  flex-grow: 41;
}
