.horizontalSlidersPanel {
  display: flex;
  flex-basis: 100%;
  flex-flow: column;
}

.panelHeader {
  font-weight: 700;
  color: #0050b3;
}

.panelHeaderTargets {
  font-weight: 400;
}

.sliderComponents {
  flex-basis: 100%;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}
