.verticalSlider {
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  padding: 0.5rem;
}

.verticalSliderSelected {
  background: #f5f5f5;
}

.seriesHeader {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0;
}

.seriesLabel {
  font-weight: bold;
}

.seriesColorBar {
  display: flex;
  height: 7px;
}

.seriesValue {
  display: flex;
  align-items: center;
  margin: 0.4rem 0;
  padding: 0 0.2rem;
  justify-items: flex-start;
  border: 1px solid #ddd;

  input {
    border-radius: 0;
    border: none;
    margin-right: 0.2rem;
    padding: 0;
    width: 2rem;
    text-align: right;
    &:focus {
      border: none;
      box-shadow: none;
    }
  }
}

.sliderWrapper {
  display: flex;
  min-height: 140px;
  --slider-color: #0050b3;

  :global .ant-slider-rail {
    width: 1px;
    background-color: #d9d9d9;
    transform: translateX(1px);
  }

  :global .ant-slider-handle {
    &:before {
      width: 16px;
      height: 16px;
    }

    &:after {
      background: var(--slider-color);
      box-shadow: none;
    }
  }

  :global .ant-slider-track {
    background: var(--slider-color);
    width: 4px;
  }

  :global .ant-slider:hover {
    :global .ant-slider-track {
      background: var(--slider-color);
    }

    :global .ant-slider-handle:after {
      box-shadow: 0 0 0 4px var(--slider-color);
    }
  }

  :global .ant-slider-handle:active::after,
  :global .ant-slider-handle:focus::after {
    box-shadow: 0 0 0 4px var(--slider-color);
  }
}
