.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  color: #fffd;
  margin: 1em;
  transition: opacity 0.3s;
}

.main.hide {
  opacity: 0;
  pointer-events: none;
}

.main.show {
  opacity: 1;
  pointer-events: all;
}

.main > button {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  height: 2em;
  border-radius: 999vmax;
  background-color: #333;
  color: #fffe;
  overflow: hidden;
}

.main > button > div {
  padding: 0 1em;
  display: grid;
  place-items: center;
  border-radius: 999vmax;
}

.selected {
  background-color: #fff;
  color: #333;
  font-weight: bold;
}
