.main {
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr;
  place-items: stretch;
  gap: 0.25em;
  color: var(--custom-color-text);
}

.main .color {
  content: '';
  border-radius: 0.25em;
  width: 1em;
  height: 1em;
  border: 1px solid currentColor;
}

.main button.reset {
  border: none;
  color: currentColor;
  opacity: 0.5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

.main button.reset > .icon {
  width: 1em;
  height: 1em;
}
