.theme {
  --theme-color-error: #e30;
  --theme-color-neutral-1: #000;
  --theme-color-neutral-5: #777;
  --theme-color-neutral-7: #bbb;
  --theme-color-neutral-9: #fff;
  --theme-color-primary-5: #003a8c;
  --theme-color-primary-7: #40a9ff;
}
