.SwitchRoot {
  @apply rotate-180;
  border: 1px solid #69c0ff;
  @apply rounded-full;
  @apply my-[4px];
  @apply px-px;
}

.SwitchThumb {
  display: block;
  width: 10px;
  height: 10px;
  background-color: white;
  @apply rounded-full;
  transition: transform 100ms;
  will-change: transform;
  transform: translateY(12px);
}
.SwitchThumb[data-state='checked'] {
  transform: translateY(-12px);
}
