.main {
  position: relative;
  border: 1px solid #0008;
}

.scalebar {
  position: absolute;
  left: 8px;
  top: 8px;
}

.main > canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.main > footer {
  bottom: 0;
}

.main > footer {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  padding: 0.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  background: #fffc;
}

.main > footer > div.grid {
  width: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.5em;
  color: #000;
}

.main > footer > div.grid > div:nth-child(2) {
  text-align: right;
}

.main > footer > div.grid > input {
  grid-column: 1/3;
}

.main > footer button {
  font: inherit;
  line-height: 2em;
  width: 180px;
  background-color: #fffe;
  color: #000e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0.125em 0.25em #000d;
  border-radius: 0.125em;
}

.main > footer button > svg {
  width: 2em;
  height: 2em;
}
