.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.main > label {
  font-weight: bolder;
  color: var(--theme-color-primary-5);
}

.main > select {
  all: inherit;
  box-sizing: border-box;
  background: none;
  color: var(--theme-color-neutral-1);
  font-size: 120%;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--theme-color-neutral-5);
  line-height: 2;
  padding: 0;
  outline: none;
}

.main > select:focus {
  border: 2px solid var(--theme-color-primary-5);
  padding: 0 0.25em;
}
