.main {
  all: inherit;
  min-width: 10em;
  width: max-content;
  height: 2.5em;
  padding: 0 1em;
  display: flex;
  justify-content: space-around;
  gap: 1em;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
  font-weight: bold;
}

.main:focus {
  outline: 0.25em dotted var(--theme-color-primary-7);
  outline-offset: 0.25em;
}

.disabled {
  filter: grayscale(100%);
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.variant-text {
  color: var(--theme-color-primary-5);
  background: none;
  border: 2px solid #0000;
}

.variant-text:hover {
  color: var(--theme-color-primary-5);
  background: none;
  border: 2px solid var(--theme-color-primary-5);
}

.variant-default {
  color: var(--theme-color-primary-5);
  background: none;
  border: 1px solid var(--theme-color-neutral-1);
}

.variant-default:hover {
  color: var(--theme-color-neutral-9);
  background: var(--theme-color-primary-5);
  border: 1px solid var(--theme-color-primary-5);
}

.variant-primary {
  color: var(--theme-color-neutral-9);
  background: var(--theme-color-primary-5);
  border: 2px solid #0000;
}

.variant-primary:hover {
  color: var(--theme-color-neutral-0);
  background: var(--theme-color-primary-7);
  border: 2px solid var(--theme-color-primary-5);
}
